* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex: 1;
  background-color:#FFF;
}

.App {
  
  text-align: center;

}

.App-logo {
  height: 400px;
  margin-bottom: 10px;
  
}


.TextFile {
  text-align: center;
  justify-content: center;
  align-items: center;

}







